<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="min-h-full w-full flex flex-col items-center justify-center bg-texture_1 bg-cover bg-center">
		<header
			class="text-textWhite">
			{# exemple pour afficher les infos d'un utilisateur connecté #}
			{% if app.user %}
				<p>Bonjour
					{{ app.user.email}}</p>
			{% endif %}
			<a class="text-textWhite" href="{{'/login'}}">Se connecter</a>
			<a class="text-textWhite" href="{{'/signin'}}">S'inscrire</a>
			<a class="text-textWhite" href="{{'/admin'}}">Administration</a>
			<a class="text-textWhite" href="{{'/lineup'}}">Lineup</a>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
